<main>
     <article class="container">
          <img src="/images/favicon.png" alt="">
          <h1>
               {{msg}}
          </h1>
     
          <p>Seja bem-vindo</p>
          <a href="https://github.com/rafaelvizu" target="_blank" rel="external">
               GitHub</a>
          <a href="github.com/rafaelvizu/base_projeto_express-handlebars"
          target="_blank" rel="external">
               Repositório</a>
     </article>
</main>
